{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
  {% block title %}<title>Event Management</title>{% endblock title %}
  {% comment %} <script src="https://unpkg.com/@tailwindcss/browser@4"></script> {% endcomment %}
</head>
<body>
<div class="shadow-xl h-16 mx-auto w-full">
    <header class="flex max-w-[1440px] mx-auto h-16 justify-between sm:px-3">
      <div class="flex my-auto gap-5 items-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="h-10 fill-blue-700"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M152 24c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 40L64 64C28.7 64 0 92.7 0 128l0 16 0 48L0 448c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-256 0-48 0-16c0-35.3-28.7-64-64-64l-40 0 0-40c0-13.3-10.7-24-24-24s-24 10.7-24 24l0 40L152 64l0-40zM48 192l80 0 0 56-80 0 0-56zm0 104l80 0 0 64-80 0 0-64zm128 0l96 0 0 64-96 0 0-64zm144 0l80 0 0 64-80 0 0-64zm80-48l-80 0 0-56 80 0 0 56zm0 160l0 40c0 8.8-7.2 16-16 16l-64 0 0-56 80 0zm-128 0l0 56-96 0 0-56 96 0zm-144 0l0 56-64 0c-8.8 0-16-7.2-16-16l0-40 80 0zM272 248l-96 0 0-56 96 0 0 56z"/></svg>
        <a href={% url "home_view" %}><h1 class="text-lg font-semibold">Event Management</h1></a>
      </div>
      <div class="flex my-auto gap-5 items-center">
        <a href={% url "home_view" %} class="bg-green-500 rounded-full px-4 py-1.5">Home</a>
        <a href={% url "organizer-dashboard" %} class="bg-orange-500 rounded-full px-4 py-1.5">Organizer Dashboard</a>
        <a href={% url "add_event" %} class="bg-yellow-400 rounded-full px-4 py-1.5">Add Event</a>
          <a href={% url "add_participant" %} class="bg-blue-500 rounded-full px-4 py-1.5">Participate</a>
          <a href={% url "add_category" %} class="bg-red-500 rounded-full px-4 py-1.5">Add Category</a>
      </div>
    </header>
</div>
  <main>                        
    {% block main-content %}
    {% endblock main-content %}
  </main>
</body>
</html>